.home {
    margin: 0;
    width: 100vw;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0.95;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
}
.home::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.home nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    z-index: 100;
}
.home nav h2 {
    font-size: 45px;
    font-weight: bolder;
    color: #d00000;

    cursor: context-menu;
}
.home nav .home-link {
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 4px 20px;
    border-radius: 2px;
    background-color: #d00000;
}
.home .home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex: 1;
    z-index: 100;
}
.home .home-main div p:first-child {
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    color: white;
}
.home .home-main div p:last-child {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: white;
}
@media screen and (max-width: 650px) {
    .home .home-main div p:first-child {
        font-size: 45px;
    }
    .home .home-main div p:last-child {
        font-size: 25px;
    }
}
@media screen and (max-width: 480px) {
    .home nav {
        padding: 30px 10px;
    }
    .home nav h2 {
        font-size: 35px;
    }
    .home .home-main div p:first-child {
        font-size: 35px;
    }
    .home .home-main div p:last-child {
        font-size: 20px;
    }
}
